*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C3C3C3;
}

/* Lignes de démarquation */

hr {
    height: 1px;
    background: #003768;
    margin: 5%;
}

.addContact #PhotoProfilClair {
    margin-top: 20%;
    margin-left: 40%;
    margin-bottom: 20%;
    width: 20%;
}

.addContact #Nom {
    background-position: 8px;
    background-image: url(Images/Person.svg);
    background-size: 13px;
}

.addContact #Prenom {
    background-position: 8px;
    background-image: url(Images/Person.svg);
    background-size: 13px;
}

.addContact #NumTelephone {
    background-image: url(Images/Tel.svg);
    background-size: 15px;
}

.addContact #Email {
    background-image: url(Images/Email.svg);
    background-size: 17px;
}

.addContact #Adresse {
    background-position: 10px;
    background-image: url(Images/Loc.svg);
    background-size: 12px;
}

.addContact #Metier {
    background-image: url(Images/Job.svg);
    background-size: 17px;
}

.addContact .Champ {
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 315px;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

.addContact button {
    color: #003768;
    background-color: #C3C3C3;
    border: #003768 1px solid;
    border-radius: 15px;
    padding: 7.5px 15px 7.5px 15px;
    margin-top: 65px;
}

.addContact button a {
    text-decoration: none;
    color: #003768;
}

.addContact button a:hover {
    text-decoration: none;
    color: #003768;
}

.addContact #But1 {
    margin-left: 60px;
    margin-right: 15px;
}