/* Titre de la page */

.groupes .titleGroupes {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    color: #003768;
}

.groupes .Champ {
    margin-left: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 315px;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

.groupes li {
    list-style-type: none;
    color: #003768;
}

.groupes #listeGroupes p {
    margin-top: -27px;
    margin-left: 50px;
}

.groupes #listeGroupes img {
    position: relative;
    left: -87.5%;
    top: -3px;
}

.groupes #listeGroupes input {
    z-index: 900;
}

.groupes button {
    color: #003768;
    background-color: #C3C3C3;
    border: #003768 1px solid;
    border-radius: 15px;
    padding: 7.5px 15px 7.5px 15px;
    margin-top: 65px;
}

.groupes button a {
    text-decoration: none;
    color: #003768;
}

.groupes button a:hover {
    text-decoration: none;
    color: #003768;
}

.groupes #But1 {
    margin-left: 75px;
    margin-right: 15px;
}