/* Titre de la page */
.home .titleContact {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    color: #003768;
}

/* Barre de recherche */
.home #barreRecherche {
    display: inline;
    height: 30px;
    width: 260px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 10%;
    border: none;
    border-radius: 15px;
    background-image: url(Images/Loupe.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: #efefef;
    color: #003768;
    font-size: 13px;
    font-weight: 500;
}

/* Ajout d'un contact */
.home #AddContact {
    display: inline; 
    margin-left: 5px; 
    width: 30px;
    background-color: #C3C3C3;
    background-image: url(Images/Plus.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 0;
    border: none;    
}

/* Paramètres */
.home #Parametres {
    display: inline; 
    margin-left: 2px; 
    width: 30px;
    background-color: #C3C3C3;
    background-image: url(Images/ThreeDotsVertical.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0;
    border: none;    
}

/* Boutons de tri */
.sort-button {
    display: block;
    margin: 10px;
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #C3C3C3;
    color: #003768;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.sort-button:hover {
    background-color: #003768;
    color: white;
}

/* Boutons Favoris, Groupes, Doublons */
.home .Champ {
    margin-left: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 315px;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

/* Icône de suppression */
.clear-icon {
    position: absolute;
    right: 28%;
    top: 14.1%;
    cursor: pointer;
    color: #003768;
}


.home #Favoris {
    margin-bottom: 10px;
    background-image: url(Images/StarFill.svg);
    background-size: 18px;
}

.home #Groupes {
    background-image: url(Images/Groups.svg);
    background-size: 18px;
    margin-bottom: 0;
}

.home #Doublons {
    background-image: url(Images/Doublons.svg);
    background-size: 20px;
    margin-bottom: 0;
}

.home li {
    list-style-type: none;
    color: #003768;
}

.home #listeContact p {
    margin-top: -27px;
    margin-left: 50px;
}

.home #listeContact img {
    position: relative;
    left: -87.5%;
    top: -3px;
}

.home #listeContact input {
    z-index: 900;
}